.env
Frontend/node_modules
Backend/core/__pycache__


!Backend/apps/user/migrations/__init__.py


#ignorar la carpeta y los archivos de vscode
.vscode
#ignoara la caperta /Backend/media
Backend/media

vscode-profile.code-profile


# Ignora todas las carpetas "migrations"
**/migrations/

# Pero permite rastrear el archivo "__init__.py" en todas las carpetas "migrations"
**/migrations/__init__.py

