.env
Frontend/node_modules
Backend/apps/user/migrations/*
Backend/apps/user/__pycache__
Backend/core/__pycache__


!Backend/apps/user/migrations/__init__.py


#ignorar la carpeta y los archivos de vscode
.vscode



